<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnMate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='learnMate.png') }}" alt="LearnMate Logo" class="logo">
            <h1>Welcome to LearnMate</h1>
            <p>Your AI-powered interactive learning assistant.</p>
        </div>
        
        <div class="content">
            <h2>How to Use LearnMate</h2>
            <ul>
                <li>Click on the functionalities below to get started.</li>
                <li>Interact with the AI chatbot, process documents, or use the TTS service.</li>
            </ul>
            <div class="buttons">
                <a href="{{ url_for('run_streamlit', module='qachat') }}" class="btn">Q&A Chat</a>
                <a href="{{ url_for('run_streamlit', module='invoice') }}" class="btn">Invoice Extractor</a>
                <a href="{{ url_for('run_streamlit', module='chat') }}" class="btn">Document Chat</a>
                <a href="{{ url_for('run_streamlit', module='tts') }}" class="btn">Multilingual TTS</a>
                <a href="{{ url_for('run_streamlit', module='companion') }}" class="btn">Learning Companion</a>
            </div>
        </div>
    </div>
</body>
</html>
